header{
    display: inline-block;
    margin-top: 31px;
    padding-top: 0px;
}
.inputdni{
    width: 130px;
    height: 18px;
}
nav{
    display: flex;
    float: right;
}
nav img{
    width: 128px;
    height: 32px;
    float: right;
}

.inputdni{
    width: 130px;
    height: 18px;

}
.txtIngresar{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

body{
    background-color: rgb(245, 245, 245);
    text-align: center;
}
.resultadoDNIp{
    background-color: rgb(255, 255, 255);
    
}
.contenedor-tabla {
    width: 50%;
    margin: auto;
}
table {
    width: 100%; 
    border-collapse: collapse; 
    background: white;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd; 
    padding: 5px; 
    text-align: justify; 
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: rgb(44, 44, 44);
    
}
.tablaresultadoc{
    background-color: rgb(245, 245, 245);
}
#resultadoArticulo{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
button.botonConsultar{
    background-color:#2a5783;
    width: 80px;
    height: 24.5px;
    margin: 5px auto;
    color: #f5f5f8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.botonConsultar:hover {
    background-color: #2b2f3b;
}

#botones {
    margin-top: 10px;
    text-align: left;
    text-align: center;
}
#botones button {
    display: inline-block;
    width: 130px;
    height: 34px;
    margin: 5px auto;
    margin-bottom: 9px;
    padding: 10px;
    background-color:#2a5783;
    color: #f5f5f8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#botones button:hover {
    background-color: #2b2f3b;
}
hr{
    background-color: rgb(153, 151, 151);
    height: 1px;
    border: none;
}

.botonlimpiar img{
    width: 32px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #2a5783;
    background-color: #2a5783;
}
.Aa{
    background-color:#2a5783;
    width: 30px;
    height: 25px;
    color: #f5f5f8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.Aa:hover {
    background-color: #2b2f3b;
}
.copy-btn{
    background-color:#2a5783;
    width: 120px;
    height: 25px;
    color: #f5f5f8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.copy-btn:hover {
    background-color: #2b2f3b;
}

.mensajep{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}
.logocpanel{
    width: 95px;
    height: 21px;
    float: center;
    filter: grayscale(100%);
    padding-top: 3.5px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}
